---
import ServicesH from "../ServicesH.astro";
import ServicesSub from "../ServicesSub.astro";
---

<section class="mb-24" id="transportation_allowance">
        <ServicesH>交通費補助と交通費申請</ServicesH>
        <ServicesSub>交通費補助について</ServicesSub>
        <p class="mb-4">
            多機能型事業所あすなろ（ジョブサポートセンターあすなろ、クローバー）とＭＯＭＯでは、表町、表町ウエスタンに通うための交通費を補助します。なお、通われた日数に応じて補助できる金額が変わります。補助金額は以下の通りです。
        </p>
        <section class="mb-12">
            <div class="border-4 border-[#00afef] p-4 mb-4">
                <table class="table-auto w-full">
                    <thead>
                        <tr>
                            <th
                                class="p-3 border-b-2 border-slate-300 text-center"
                                >ひと月通われた日数</th
                            >
                            <th
                                class="p-3 border-b-2 border-slate-300 text-center"
                                >補助割合</th
                            >
                            <th
                                class="p-3 border-b-2 border-slate-300 text-center"
                                >交通費が月 10,000 円かかった場合</th
                            >
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >1～5 日</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >２０％</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >2,000 円まで出ます</td
                            >
                        </tr>
                        <tr>
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >6～10 日</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >４０％</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >4,000 円まで出ます</td
                            >
                        </tr>
                        <tr>
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >11～15 日</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >６０％</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >6,000 円まで出ます</td
                            >
                        </tr>
                        <tr>
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >16～20 日</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >８０％</td
                            >
                            <td
                                class="p-3 border-b border-slate-300 text-center"
                                >8,000 円まで出ます</td
                            >
                        </tr>
                        <tr>
                            <td class="p-3 text-center">21 日以上</td>
                            <td class="p-3 text-center">１００％</td>
                            <td class="p-3 text-center">
                                全額出ます　ただし<br /><strong
                                    >月額の補助金額上限は<span
                                        class="asunaro-text-strongcolor asunaro-text-dotted-underline"
                                        >２０，０００円</span
                                    >になります。</strong
                                >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul class="space-y-1">
                <li>
                    ※交通費の補助対象者の方は、「障害福祉サービス受給者証」の交付を受け、ジョブサポートセンターあすなろ、クローバー、ＭＯＭＯの利用登録が完了した後からになります。
                </li>
                <li>※月々のタイムカードで通われた日数を確認します。</li>
                <li>
                    ※各事業所においてある別紙申請書に記入して提出してください。
                </li>
                <li>
                    ※自家用車、オートバイ、自転車で通われて近隣の駐車場をご利用の場合は領収書が必要になります。
                </li>
                <li>
                    ※月末締めで支払いは毎月翌月15日です。（休みの場合は翌日の開所日になります）
                </li>
            </ul>
        </section>

        <ServicesSub>申請用紙</ServicesSub>
        <ul class="list-disc pace-y-1 ml-8">
            <li><a href="/services/jsca/transexpense.pdf" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">交通費申請用紙</a></li>
            <li><a href="/services/jsca/transexpense_example.pdf" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">交通費申請用紙（用紙記入例）</a></li>
        </ul>

    </section>