<!-- 
<h2 class="pb-6 text-4xl  mb-12 text-center
  relative
  before:content-['']
  before:inline-block
  before:absolute
  before:bottom-0
  before:left-1/2
  before:-translate-x-1/2
  before:w-12
  before:h-px
  before:bg-black
"> -->
<h2 class="text-4xl m_plus_1_300 text-center mb-4">
    <div class="inline-block">
        <div class="mb-4">
            <slot name="title" />
        </div>
        <div class="mb-2 text-sm">
            <slot name="title_en" />
        </div>
    </div>
</h2>
