    <li>
        <a
            href="/about/"
            class="font-medium text-neutral-600 underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-neutral-300 dark:hover:text-white"
            >法人について</a
        >
    </li>
    <li>
        <!-- class="font-bold text-black underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-white dark:hover:text-white" -->

        <a
            href="/about/#greetings"
            class="font-medium text-neutral-600 underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-neutral-300 dark:hover:text-white"
            >あいさつ</a
        >
    </li>

    <li>
        <a
            href="/about/#information"
            class="font-medium text-neutral-600 underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-neutral-300 dark:hover:text-white"
            >情報公開</a
        >
    </li>
    <li>
        <a
            href="/about/#access"
            class="font-medium text-neutral-600 underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-neutral-300 dark:hover:text-white"
            >アクセス</a
        >
    </li>