---
import Activities from "../../../components/Activities.astro";
import ServicesH from "../../../components/ServicesH.astro";
import type { TocItem } from "../../../components/TableOfContents.astro";
import JscaLayout from "../../../layouts/services/JscaLayout.astro";
const crumbs = [
  {
    text: "ホーム",
    href: "/",
  },
  {
    text: "JSCA",
    href: "./",
  },  {
    text: "就職状況",
  },
];
const informations = [
    {
        date: "H26年度",
        title: "H26年度",
        imagePath: "/services/jsca/employment_report/h26.jpg",
        imageAlt: "H26年度",
        url: "/services/jsca/employment_report/h26.pdf",
    },
    {
        date: "H27年度",
        title: "H27年度",
        imagePath: "/services/jsca/employment_report/h27.jpg",
        imageAlt: "H27年度",
        url: "/services/jsca/employment_report/h27.pdf",
    },
    {
        date: "H28年度",
        title: "H28年度",
        imagePath: "/services/jsca/employment_report/h28.jpg",
        imageAlt: "H28年度",
        url: "/services/jsca/employment_report/h28.pdf",
    },
    {
        date: "H29年度",
        title: "H29年度",
        imagePath: "/services/jsca/employment_report/h29.jpg",
        imageAlt: "H29年度",
        url: "/services/jsca/employment_report/h29.pdf",
    },
    {
        date: "H30年度",
        title: "H30年度",
        imagePath: "/services/jsca/employment_report/h30.jpg",
        imageAlt: "H30年度",
        url: "/services/jsca/employment_report/h30.pdf",
    },
];
const tocItems: TocItem[] = [
    {
        title: "アーカイブ",
        link: "#archive",
    },
];
---

<JscaLayout
title="就職状況"
title_en="多機能型事業所 JSCA(Job Support Center ASUNAR)"
   tocItems={null}
   crumbs={crumbs}
   >
    <div class="container mx-auto">
        <section class="mb-24" id="archive">
            <ServicesH>アーカイブ</ServicesH>

            <Activities items={informations} />
        </section>
    </div>
</JscaLayout>
