---
import Activities from "../../../components/Activities.astro";
import ServicesH from "../../../components/ServicesH.astro";
import type { TocItem } from "../../../components/TableOfContents.astro";
import MonozukuriLayout from "../../../layouts/services/MonozukuriLayout.astro";
const crumbs = [
    {
        text: "ホーム",
        href: "/",
    },
    {
        text: "ものづくりArt工房あすなろ",
        href: "/",
    },
    {
        text: "事業報告",
    },
];
const informations = [
    {
        date: "事業報告（H27年）",
        title: "事業報告（H27年）",
        imagePath: "/services/monozukuri/business_report/h27.jpg",
        imageAlt: "事業報告（H27年）",
        url: "/services/monozukuri/employment_report/h27.pdf",
    },
];
const tocItems: TocItem[] = [
    {
        title: "アーカイブ",
        link: "#archive",
    },
];
---

<MonozukuriLayout
    title="事業報告"
    ,
    title_en="就労移行支援B型 ものづくりArt工房あすなろ"
    ,
    tocItems={null}
    crumbs={crumbs}
>
    <div class="container mx-auto">
        <section class="mb-24" id="archive">
            <ServicesH>アーカイブ</ServicesH>

            <Activities items={informations} />
        </section>
    </div>
</MonozukuriLayout>
